@media screen and (min-width: 700px) {
    header {
        padding: 1rem 2rem;
    }

    .menu-button {
        display: none;
    }

    .navigation {
        display: flex;
        justify-content: center;
    }

    .navigation a {
        flex: 0 1 12rem;
        border-top: 0;
        border-left: 1px solid rgba(255, 253, 247, .15);
        border-right: 1px solid rgba(255, 253, 247, .15);
    }

    main {
        padding: 1.5rem;
    }

    .top-sections {
        grid-template-columns: 2fr 1fr;
        align-items: stretch;
    }

    .course-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}
